doctype html
html
    head
        meta(charset='UTF-8')
        script(src=`js/${system}`)
        //script(src='/public/angular-aria.min.js')
        //script(src='/public/angular-material.min.js')

    body
        div(id="BOPContainer")
          #{system}
        script.
            validationParams = [{ name: "Validate_ImportUndertakingCCN",endpoint: "importUndertakingCCN",parameters: [ { name: "CCN", path: "value" },{ name: "valueDate", path: "transaction::ValueDate" },]},{ name: "Validate_ValidCCN",endpoint: "validCCN",parameters: [ { name: "CCN", path: "value" },{ name: "valueDate", path: "transaction::ValueDate" },]},{ name: "Verify_ARM",endpoint: "verifyARM",parameters: [ { name: "TrnRef", path: "transaction::TrnReference" },{ name: "Seq", path: "money::SequenceNumber" },{ name: "Flow", path: "transaction::Flow" },{ name: "FlowCurrency", path: "transaction::FlowCurrency" },{ name: "TotalFlowAmount", path: "transaction::TotalForeignValue" },{ name: "FlowAmount", path: "money::ForeignValue" },{ name: "SarbAuth", path: "money::SARBAuth.SARBAuthAppNumber" },{ name: "InternalAuth", path: "money::SARBAuth.ADInternalAuthNumber" },]},{ name: "Validate_IndividualSDA",endpoint: "withinSDALimit",parameters: [ { name: "localValue", path: "value" },{ name: "trnRef", path: "transaction::TrnReference" },{ name: "valueDate", path: "transaction::ValueDate" },{ name: "resIDNumber", path: "transaction::Resident.Individual.IDNumber" },{ name: "tpIDNumber", path: "ThirdParty.Individual.IDNumber" },]},{ name: "Validate_ReplacementTrnReference",endpoint: "replacementTrnReference",parameters: [ { name: "replacementTrnReference", path: "ReplacementOriginalReference" },]},{ name: "Validate_ReversalTrnRef",endpoint: "reversalTrnRef",parameters: [ { name: "trnReference", path: "TrnReference" },{ name: "flow", path: "transaction::Flow" },{ name: "sequence", path: "ReversalTrnSeqNumber" },{ name: "category", path: "CategoryCode" },]},{ name: "Validate_LoanRef",endpoint: "loanRef",parameters: [ { name: "loanRef", path: "value" },{ name: "valueDate", path: "transaction::ValueDate" },]},{ name: "Validate_IndividualFIA",endpoint: "withinFIALimit",parameters: [ { name: "localValue", path: "value" },{ name: "trnRef", path: "transaction::TrnReference" },{ name: "valueDate", path: "transaction::ValueDate" },{ name: "resIDNumber", path: "transaction::Resident.Individual.IDNumber" },{ name: "tpIDNumber", path: "ThirdParty.Individual.IDNumber" },]},{ name: "Validate_ValidCCNinUCR",endpoint: "validCCNinUCR",parameters: [ { name: "UCR", path: "value" },{ name: "valueDate", path: "transaction::ValueDate" },]},{ name: "Validate_IVS",endpoint: "validateIVS",parameters: [ { name: "TrnRef", path: "transaction::TrnReference" },{ name: "Seq", path: "money::SequenceNumber" },{ name: "ThirdPartyCCN", path: "money::ThirdParty.CustomsClientNumber" },{ name: "ResidentInvCCN", path: "transaction::Resident.Individual.CustomsClientNumber" },{ name: "ResidentEntityCCN", path: "transaction::Resident.Entity.CustomsClientNumber" },{ name: "TDN", path: "TransportDocumentNumber" },{ name: "MRN", path: "ImportControlNumber" },]},];


            (function (w) {
              // iframe resize handling code
              if (w.parent) {
                // body global
                var body;
                w.document.addEventListener("DOMContentLoaded", function (event) {
                  // select the target node
                  body = w.document.getElementsByTagName('body')[0];
                  var oldSize = -1;
                  function checkSize() {
                    var size = body.scrollHeight;
                    if (size != oldSize) {
                      w.parent.postMessage('resize:' + w.name + ':' + body.scrollHeight, '*');
                      oldSize = size;
                    }
                    setTimeout(checkSize, 500);
                  }
                  setTimeout(checkSize, 500);
                });
              }
            })(window);
            
            var options, form;


            // NB!!!! this should go in the hosting page!
            function getForm(){
              function _getForm(resolve){
                return function(){
                  if(form) resolve(form)
                  else setTimeout(_getForm(resolve),500);
                }
              }
              return new Promise(function(resolve,reject){
                _getForm(resolve)();
              })
            }

            // NB!!!! this should go in the hosting page!
            window.addEventListener('message', function (e) {
              if (e && e.data) {
                if(e.data.indexOf('setData')==0){
                  var match = (/^setData:(.+)/g).exec(e.data);
                  var data = JSON.parse(match[1]);
                  getForm().then(function(form){
                    form.replaceData(data);
                  })
                }else if(e.data.indexOf('getData')==0){
                  getForm().then(function(form){
                    window.parent.postMessage('data:'+JSON.stringify(form.getData()),'*');
                  })
                }
                
              }
            })

            // let the parent know we can accept messages...
            window.parent.postMessage('ready','*');
            
            require(['data/lookups',
            'evaluation/evalRules',
            'evaluation/evalContext',
            'evaluation/evalScenarios',
            'validation/transaction',
            'validation/money',
            'validation/importexport',
            'document/transaction',
            'document/money',
            'document/importexport'//,
            //- '/public/document.js',
            //- '/public/evaluation.js'
            ],
            function(lookups,
            evalRules,
            evalContext,
            evalAssumptions,
            transaction,
            money,
            importexport,
            docTrans,
            docMoney,
            docIE//,
            //- _document,
            //- evaluation
            ){
            
                var config =  {
                    //extraDeps : ['ngMaterial'],
                    clearHidden: true,
                    clearHiddenOnErrorOnly: true,
                    snapShotValidate: true,
                    //clearHiddenOnErrorOnly: true,
                    initializationFn: function (model, scope) {
                        //custom scope functions go here...
                        scope.totalRandValue = function () {
                            var money = scope.data.MonetaryAmount;
                            var total = _.reduce(money, function (memo, itm) {
                                memo += itm.RandValue.val ? Number(itm.RandValue.val) : 0;
                                return memo;
                            }, 0)
                            return total.toFixed(2);
                        }
                        scope.randOutstanding = function (data, overaCopy, underaCopy) {
                            var total = scope.customData.TotalRandAmount - scope.totalRandValue();
                            if (total) return total.toFixed(2);
                        }
                        scope.updateBranches = function (model, selectedOption) {
                            var searchItem = model.val;
                            var branch = scope.getLookups().branches.find(function (item) {
                                return !!_.find(item, function (val) {
                                    return val == searchItem;
                                })
                            });
                            if (branch) {
                                model.data.BranchCode = branch.code;
                                model.data.BranchName = branch.name;
                                model.data.HubCode = branch.hubCode;
                                model.data.HubName = branch.hubName;
                                scope.revalidate();
                            }
                        }
                        scope.checkThirdPartyPostalAddExist = function (ThirdParty) {
                            if (ThirdParty.PostalAddress.AddressLine1.val != undefined) {
                                if (ThirdParty.sameAsPhysical.val == true) {
                                    var r = confirm("Warning! Overwrite Postal Address data?");
                                    if (r == false) {
                                        ThirdParty.sameAsPhysical.val = false;
                                    }
                                } else {
                                    delete ThirdParty.data.ThirdParty.PostalAddress;
                                }
                            }
                            scope.revalidate();
                        };
                        scope.clearThirdParty = function (ThirdParty) {
                            delete ThirdParty.data.ThirdParty;
                            delete ThirdParty.data.ThirdPartyKind;
                            scope.revalidate();
                        };
                        var ThirdPartyCache = {};
                        // This is used to set the 3rd Party type - Maintains a cache per monetaryAmount
                        scope.setAdhoc3rdPartyType = function (_model, selectedOption) {
                            var moneyIndex = _model.getIndeces()[0];
                            var currentType = _model.data.ThirdParty ? (_model.data.ThirdParty.Individual ? "Individual" :
                                    (_model.data.ThirdParty.Entity ? "Entity" : undefined )) : undefined;
                            var cache = ThirdPartyCache[moneyIndex] ?
                                    (ThirdPartyCache[moneyIndex]) :
                                    (ThirdPartyCache[moneyIndex] = {});
                            if (currentType)
                                cache[currentType] = cache[currentType] ? cache[currentType] :
                                        cache[currentType] = _model.data.ThirdParty[currentType];
                            if (selectedOption == undefined) {
                                delete _model.data.ThirdParty;
                                delete _model.data.ThirdPartyKind;
                            } else {
                                _model.data.ThirdParty = {};
                                _model.data.ThirdParty[selectedOption.value] = cache[selectedOption.value] ?
                                        cache[selectedOption.value] :
                                        cache[selectedOption.value] = {};
                            }
                        }
                    }

                }
                options = {
                    config: config,
                    initData:  !{JSON.stringify(data)}
                }
                getReportAPI(options , {lookups},
                    //evaluation,
                    {evalRules, evalContext, evalAssumptions},
                    {transaction, money, importexport},
                    null,
                    //_document
                    {trans:docTrans,money:docMoney,ie: docIE}
                ).then(function(ReportAPI){
                  // Get the report form object for the debiting side.
                  form = ReportAPI.newForm();


                  // Show the form.
                  form.showForm(document.getElementById('BOPContainer'), function (isValid, errorCount, warningCount, errorList) {
                    console.log('Form is ' + (isValid ? "VALID." : "INVALID!"));
                    window.parent.postMessage('isValid:'+isValid,'*');
                    //using form feedback to manipulate emlements on the page...
                    // if (isValid) {
                    //   document.getElementById('submit').removeAttribute("disabled");
                    // } else {
                    //   document.getElementById('submit').setAttribute('disabled', true);
                    // }
                  });

                 

                  function save() {
                      var reportData = ReportAPI.getReportObject();
                      // This reportData object can then be persisted.
                  }

                  function submit() {
                      var reportData = ReportAPI.getReportObject();
                      // This reportData object can then be persisted and submitted.
                      // The submission REST call is the responsibility of the host system.
                  }
                });
                
              })
                //- app.initOptions(options, function () {
                //-         console.log("BootStrapping Angular App.")
                //-         angular.bootstrap(document.getElementsByTagName('body')[0], ['bopForm']);
                //-         //angular.bootstrap(currElement, ['bopForm']);
                //-         if (options.doneCB)options.doneCB(app);
                //-     });
                //- });