doctype html
html
    head
    meta(charset="UTF-8")
    title(BOP form development page)
    script.
      var less = {
        env: "development",
        relativeUrls: true
      };
    script(src="bower_components/requirejs/require.js")

    script.
      function makeDataLarge(data, numMoney, numIEs) {
        var tempMoneyStr = JSON.stringify(data.MonetaryAmount[0]);
        var tempIEStr = JSON.stringify(data.MonetaryAmount[0].ImportExport[0]);
        for (var i = 1; i < numMoney; i++) {
          var money = JSON.parse(tempMoneyStr);

          money.ForeignValue = (Math.random() * 1000).toFixed(2);
          for (var j = 1; j < numIEs; j++) {
            var ie = JSON.parse(tempIEStr);

            money.ImportExport.push(ie);

          }

          data.MonetaryAmount.push(money);
        }
      }

      require.config({
        packages: [
          {
            name: "coreRules",
            location: "rules/src/validation",
            main: 'coreRules'
          },
          {
            name: "app.module",
            location: "src",
            main: 'app.module'
          }
        ],
        paths: {
          //        'coreRules' : 'coreRules/coreRules.min',
          //        'app.module' : 'src/app.module',
          'underscore': 'bower_components/underscore/underscore',
          'angular': 'bower_components/angular/angular',
          'angular-animate': 'bower_components/angular-animate/angular-animate',
          'angular-sanitize': 'bower_components/angular-sanitize/angular-sanitize',
          'angular-bootstrap': 'bower_components/angular-bootstrap/ui-bootstrap',
          'angular-bootstrap-templates': 'bower_components/angular-bootstrap/ui-bootstrap-tpls',
          'angular-dynamic-number': 'bower_components/angular-dynamic-number/release/dynamic-number',
          'es6-promise': 'bower_components/es6-promise/es6-promise',
          less: 'node_modules/less/dist/less'
        },
        shim: {
          'angular': { exports: 'angular' },
          'app.module': ['angular']
        }
      });
      require(['angular', 'testData/testData', 'app.module'], function (angular, testData, app) {

        // CONFIG STUFF... hopefully you only have to edit this...
        var DEBUG = true;
        var serverBaseUrl = 'http://127.0.0.1:8080/tXstreamServer';


        var _http;
        var testPage = angular.module('testPage', ['bopForm']);

        testPage.controller('testPageCntrl', ["$scope", "$http", function ($scope, $http) {
          $scope.testData = testData.data;
          $scope.formData = $scope.testData[3];
          $scope.setData = function (data) {
            app.setData(data);
          }
          _http = $http;
        }])

        function Validate_ImportUndertakingCCN(value,
          valueDate,
          resultFunc, scope, reference) {

          makeExtCall('importUndertakingCCN', {
            'CCN': value,
            'valueDate': valueDate
          }, resultFunc);
        }

        function Validate_LoanRef(value,
          valueDate,
          resultFunc, scope, reference) {

          makeExtCall('loanRef', {
            'loanRef': value,
            'valueDate': valueDate
          }, resultFunc);
        }

        function Validate_ReplacementTrnReference(value,
          trnReference,
          replacementYN,
          replacementTrnReference,
          resultFunc, scope, reference) {
          makeExtCall('replacementTrnReference', {
            'trnReference': trnReference,
            'replacementYN': replacementYN,
            'replacementTrnReference': replacementTrnReference
          }, resultFunc);
        }

        //validCCN? no reference found in ruleset..??
        function Validate_ValidCCN(value, valueDate, resultFunc, scope, reference) {
          makeExtCall('validCCN', {
            'CCN': value,
            'valueDate': valueDate
          }, function (status, code, message) {
            app.setCustomData('LUClient', 'N');

            if ((status == 'pass') && (code == '200'))
              app.setCustomData('LUClient', 'Y');

            return resultFunc(status, code, message);
          });
        }


        function Validate_ThirdPartyValidCCN(value, valueDate, resultFunc, scope, reference) {
          makeExtCall('validCCN', {
            'CCN': value,
            'valueDate': valueDate
          }, resultFunc);
        }

        function Validate_ValidCCNinUCR(value,
          valueDate,
          resultFunc, scope, reference) {
          makeExtCall('validCCNinUCR', {
            'UCR': value,
            'valueDate': valueDate
          }, resultFunc);
        }

        function Validate_MRNonIVS(value,
          thirdPartyCustomsClientNumber,
          iCustomsClientNumber,
          eCustomsClientNumber,
          ImportControlNumber,
          TransportDocumentNumber,
          resultFunc, scope, reference) {
          var ccn = thirdPartyCustomsClientNumber ?
            thirdPartyCustomsClientNumber :
            (iCustomsClientNumber ? iCustomsClientNumber : eCustomsClientNumber);

          makeExtCall('validMRNonIVS', {
            'CCN': ccn,
            'ImportControlNumber': ImportControlNumber,
            'TransportDocumentNumber': TransportDocumentNumber
          }, resultFunc);

        }

        function SBValidate_ReversalTrnRef(value,
          reversalTrnSeqNumber,
          flowCurrency,
          foreignValue,
          resultFunc, scope, reference) {
          makeExtCall('sbvalidReversalTrnRef', {
            'reversalTrn': value,
            'reversalTrnSeqNumber': reversalTrnSeqNumber,
            'flowCurrency': flowCurrency,
            'foreignValue': foreignValue
          }, resultFunc);

        }

        function Validate_ReversalTrnRef(value,
          reversalTrnSeqNumber,
          flow,
          resultFunc, scope, reference) {
          makeExtCall('reversalTrnRef', {
            'trnReference': value,
            'flow': flow,
            'sequence': reversalTrnSeqNumber
          }, resultFunc);

        }
        function getURLProps() {
          var parts = window.location.search.substr(1).split("&");
          var ret = {};
          parts.forEach(function (part) {
            var s = part.split('=');
            ret[s[0]] = s[1];
          })
          return ret;
        }

        var URLProps = getURLProps();
        var devConfig = {
          // TODO: fix this rulesPackage loading!
          rulesPackage: (URLProps.channel ? URLProps.channel : "testSARB")
        }

        var config = angular.extend({}, app.getConfig(), {
          noCss: true,
          clearHidden: true,
          clearHiddenOnErrorOnly: true,
          snapShotValidate: true,
          postValidate: function (isValid) {
            console.log('Form is ' + (isValid ? "VALID." : "INVALID!"));
          }
          
        }, devConfig/*serverDevConfig*/);

        function mockResponse(resultFunc) {
          setTimeout(function () {
            resultFunc("pass");
          }
            , 1000
          );
        }

        function makeRestCall(endPoint, params, resultFunc) {
          return _http.get(serverBaseUrl + '/spring-rest/validate/' + endPoint,
            {
              params: params
            })
            .then(function (response) {
              if (response.data)
                resultFunc(response.data.Status.toLowerCase(), response.data.Code, response.data.Message);
              else
                resultFunc('fail', "500", "Server did not return data.")
            })
        }

        function makeExtCall(endPoint, params, resultFunc) {
          if (DEBUG) {
            console.log("Making External Call:" + endPoint + " with params:" + JSON.stringify(params))
            return mockResponse(function (type, code, msg) {
              console.log("Called back with type '" + type + "', code '" + code + "', and msg '" + msg + "'")
              resultFunc(type, code, msg);
            });
          } else {
            return makeRestCall(endPoint, params, resultFunc)
          }
        }


        /*
        external validations.
        */


        var options = {
          config: config,
          initData: testData.data[3].data,
          validationCallBacks: [

            [
              'Validate_ImportUndertakingCCN',
              Validate_ImportUndertakingCCN,
              'transaction::ValueDate'
            ],
            [
              'Validate_LoanRef',
              Validate_LoanRef,
              'transaction::ValueDate'
            ],
            [
              'Validate_ReplacementTrnReference',
              Validate_ReplacementTrnReference,
              "transaction::TrnReference",
              "transaction::ReplacementTransaction",
              "transaction::ReplacementOriginalReference"
            ],
            [
              'SBValidate_ReversalTrnRef',
              SBValidate_ReversalTrnRef,
              "ReversalTrnSeqNumber",
              "transaction::FlowCurrency",
              "money::ForeignValue"
            ],
            [
              'Validate_ReversalTrnRef',
              Validate_ReversalTrnRef,
              "ReversalTrnSeqNumber",
              "transaction::Flow"
            ],
            [
              'Validate_ValidCCN',
              Validate_ValidCCN,
              'transaction::ValueDate'
            ],
            [
              'Validate_ThirdPartyValidCCN',
              Validate_ThirdPartyValidCCN,
              'transaction::ValueDate'
            ],
            [
              "Validate_ValidCCNinUCR",
              Validate_ValidCCNinUCR,
              'transaction::ValueDate'
            ],
            [
              'Validate_MRNonIVS',
              Validate_MRNonIVS,
              'money::ThirdParty.CustomsClientNumber',
              'transaction::Resident.Individual.CustomsClientNumber',
              'transaction::Resident.Entity.CustomsClientNumber',
              'importexport::ImportControlNumber',
              'importexport::TransportDocumentNumber'
            ]

          ],
          customLookups: []
        };

        app.initOptions(options, function () {

          console.log("BootStrapping Angular App.")
          angular.bootstrap(document.getElementsByTagName('body')[0], ['testPage']);
          //angular.bootstrap(currElement, ['bopForm']);

          if (options.doneCB) options.doneCB(app);

        })


        //      app.initOptions(options, function () {
        //
        //
        //        if (options.doneCB)options.doneCB(app);
        //
        //      });

        //Large data generator..
        var largeData = _.find(testData.data, function (item) {
          return item.name == 'LARGE_DATA';
        })
        makeDataLarge(largeData.data.transaction, 999, 1);

      })

  body(ng-controller="testPageCntrl")
    div(id="BOPContainer") testData:
      select(ng-model="formData" ng-options="d as d.name for d in testData" ng-change="setData(formData.data)")
    bopform
  