.table td select{
    width: auto;
}

tr.even td.sorting_1 {
    background-color: #ececec;
}

tr.even:hover td.sorting_1 {
    background: #dcebf1;
}

tr.even td {
    background-color: #ececec;
}

tr.even:hover td {
    background-color: #dcebf1;
}

.table th {
    border: 1px solid #cccccc;
}

.table tr {
    border: 1px solid #cccccc;
    background: #eee;
}

.table td {
    border: 1px solid #cccccc;
}

/*Overriding font size in olbsa.css*/
body {
    font: 11px/14px Arial, Helvetica;
}

dt.fourcolumn {
    width: 18%;
    margin-bottom: 5px;
}

dt.fourcolumn.roleWidth {
    width: 30%;
    margin-bottom: 5px;
}

dd.fourcolumn {
    width: 30%;
}

dd.addfourcolumn {
    width: 30%;
}

input {

}

select {

}

select option {
    font-size: 11px;
}

.right_menu ul {
    font-size: 10px;
}

.section {
    font-size: 12px;
}

.subSection {
    font-size: 11px;
}

.page {
    font-size: 11px;
}

.body {
    padding: 5px 0px 2px 0px;
    font-size: 12px;
    font-weight: normal;
    font-family: arial;
    overflow: auto;
    display: block;
    clear: both;
}

.instruction {
    font-size: 12px;

}

.notes {
    font-size: 12px;
}

.table th {
    font-size: 13px;
    font-weight: bold;
}

textarea {
    font-size: 12px;
}

.tablenostyle thead th {
    font-size: 12px;
}

/*Overriding font size in jqueryoverride*/
.ui-widget {
    font-size: 12px;
    border-radius: 4px;
}

.tabFirstLevel   {
    font-size: 12px;
}

.tabFirstLevel .ui-state-default,.tabFirstLevel .ui-widget-content .ui-state-default,.tabFirstLevel .ui-widget-header .ui-state-default  {
    font-size: 12px;
}

.tabFirstLevel .ui-tabs-nav .ui-state-active, .tabFirstLevel .ui-tabs-nav .ui-state-hover {
    font-size: 12px;
}

.tabSecondLevel   {
    font-size: 12px;
}

.tabSecondLevel .ui-tabs-nav .ui-state-default, .tabSecondLevel .ui-tabs-nav .ui-state-default {
    font-size: 12px;
}

.tabSecondLevel .ui-tabs-nav .ui-state-active, .tabSecondLevel .ui-tabs-nav .ui-state-hover {
    font-size: 12px;
}

.sectionTitleAccordion {
    font-size: 11px;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-size: 12px;
}

.clientDashboard .bookValue {
    float: right;
    font-weight: bold;
    font-size: 15px;
}

.tableHeading {
    font-size: 13px;
    padding: 7px 0 7px 5px;
}

.dashboardHeader label, .amendDetails {
    float: right;
    border-radius: 4px;
    margin-top: -15px;
    margin-right: 10px;
}

.dashboardHeader label {
    font-size: 14px;
}

.dashboardClientInfo label {
    font-weight: bold;
}

.clientDashboard .tableStyle {
    border: none;
}

.clientDashboard select {
    background-color: #fff;
}

.dashboardHeader input {
    background-color: #fff;
}

.tableStyle .ui-widget-header {
    border: 1px solid #aaaaaa;
    background: #ececec;
    color: #222222;
    font-weight: bold;
}

.dashboardClientInfoCompany {
    font-size: 15px;
    font-family: arial;
}

.dashboardHorizontalLine {
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
}

.blockColumn {
    display: inline-block;
    line-height: 15px;
}

.clientDashboard .table {
    margin-bottom: 12px;
}

.dashboardClientInfo .pageTitle {
    font-size: 12px;
    font-weight: normal; 
}

.clientDashboard .details {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom: 1px solid #D6D6D6;
    border-top: 1px solid #D6D6D6;
    padding: 0px 0px 0px 5px;
    background-size: 100%;
    line-height: 31px;
    vertical-align: middle;
    background: #F0F0F0; /* Old browsers */
}

.subMenuList p {
    cursor: pointer;
    width: 150px;
    text-align: left;
    padding-left: 10px;
    padding-right: 5px;
    padding: 5px 5px 5px 10px;
}

.subMenuList p:hover {
    background: #437cc4;
}

.accountDetails dt, .details dt, #clientNotes p {
    font-weight: bold;
}

#clientNotes {
    margin-top: -50px;
}

.helpIcon {
    background: #f1f1f1;
    border: 1px solid #b4b4b4;
    border-radius: 3px;
    color: #818181;
    display: block;
    font-size: 12px;
    line-height: 30px;
    display: inline-block;                       
    margin-right: 5px;
    margin-top: 0px;
    padding: 0px 10px 1px 10px;
    text-transform: lowercase;
    background-image: -webkit-gradient(linear, top, from(#ffffff), to(#f1f1f1));
    background-image: -webkit-linear-gradient(#fff, #f1f1f1);
    background-image: -moz-linear-gradient(#fff, #f1f1f1);
    background-image: linear-gradient(#fff, #f1f1f1);
    font-weight:bold;
    cursor: pointer;
    float: right;
}

.helpIcon:hover {
    border-color: #ccc; 
}

.editNotes {
    font-size: 15px;
    margin-right: 20px;
}

#notes {
    width: 90%;
    margin-left: 10px;
}

.details dt {
    width: 17%;
}

.details dd {
    width: 28%;
}

#amendClientDetails {
    margin-top: -3px;
}

#addSubAccount {
    margin-left: 10px;

}

.bookValue {
    margin-top: 10px;
}

.searchTableEntries {
    float: right;
    margin-top: 3px;
    margin-right: 5px;
}

.ui-accordion .ui-state-default {
    width: 90%;
}

.ui-accordion .ui-widget-content {
    width: 87%;
}

.body a:link {
    color: #437cc4;
}

.table td {
    height: 28px;
}

.confTable {
    width: auto;
}

.confDl {

}

.confDl dd, .confDl dt {
    padding: 0px;
    height: 30px;
    margin: 0px;
    padding-bottom: 5px;
}

.confDl dt {
    width: 300px;
    margin: 0px;
    padding-left: 3px;
}

.bookValue {
    margin-top: 10px;
}

.searchTableEntries {
    float: right;
    margin-top: 3px;
    margin-right: 5px;

}

#accountStatus .checkbox {
    height : 13px;
}

table.display thead th {
    font-size: 12px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
}

dt.ccmTwoColumn {
    clear: left;
    float: left;
    width: 267px;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px; 
}

dd.ccmTwoColumn {
    display: block;
    overflow: visible;
    margin-bottom: 0px;
    padding: 0px;
    margin-top: 0px;

}

dt.ccmTwoColumnWide {
    clear: left;
    float: left;
    width: 400px;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}

dd.ccmTwoColumnWide {
    display: block;
    overflow: visible;
    margin-bottom: 0px;
    padding: 0px;
    margin-top: 0px;
}

dd.ccmTwoColumn p {
    /*margin-top: 5px;*/
    margin-bottom: 0px;
    line-height: 30px;
}

dt.ccmfourcolumn {
    display: inline-block;
    width: 24%;
    margin-top: 0px;
    margin-bottom: 0px;
}

dd.ccmfourcolumn {
    display: inline-block;
    width: 24%;
    padding: 0px;
    margin-bottom: 0px;
}

dd.ccmfourcolumn p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.ccmDl {
    padding: 0px;
}

dd.ccmSelect {
    margin-top: 0px;
    margin-bottom: 0px;
}

.dddt_input_Height {
    height: 38px;
}

.dddt_no_input_height {
    height: 32px;
}

select[name="AuthCategory"], select[name="FromDate_Year"], select[name="FromDate_Month"], select[name="ToDate_Month"], select[name="ToDate_Year"] {
    width: auto;
}

.ddPrint {
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
    padding: 5px;
}

.ddPrint p {
    vertical-align: middle;
    line-height: 20px; 
    -webkit-margin-before: 0;
}

.dtPrint {
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    vertical-align: middle;
}

.dtPrint label {
    vertical-align: middle;
    line-height: 30px; 
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
}

.dashboardNotesLine {
    border-top: 2px solid #ccc;
}

#sltDate, #sltMonth, #sltYear, #sltPassExpDay, #sltPassExpMonth, #sltPassExpYear {
    margin-right: 0px;
    padding-right: 20px;
    padding-left: 5px;
}

.addClientAccount_dt {
    display: inline-block;
    width: 20%;
}

.addClientAccount_dt select {
    width: 95%;
}

.addClientAccount_dt input[type="text"] {
    width: 95%;
}

.addClientAccount_dd {
    display: inline-block;
    width: 28%;
}

.addClientAccount_dd select {
    width: 95%;
}

.addClientAccount_dd p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.addClientAccount_dd p select {
    margin-top: 0px;
    margin-bottom: 5px;
}

.addClientAccount_dd input[type="text"] {
    width: 95%;
}	

.tablerowcolor td {
    background: #ececec;
}

.tablerowcoloralt td {
    background: #fff;
}

.sorting_1 {
    width: 20%;
}

#btnAdd, #btnTaxAdd, #btnTax1Add, #btnPassportAdd, #btnGIINAdd, #btnCitizenshipAdd, #btnTaxOblAdd, #btnPassportCountryAdd {
    font-size: 14px;
    font-weight: 100;
    color: #000;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    padding: 6px 11px 6px 11px;
    width: 35px;
    height: 32px;
    background: #ececec;
    text-align: center;
    margin-top: 0px;
}

#btnAdd, #btnTaxAdd, #btnTax1Add, #btnPassportAdd, #btnGIINAdd {
    top: 2px;
}

#btnCitizenshipAdd, #btnTaxOblAdd, #btnPassportCountryAdd {
    height: 31px;
}


#txtCiti, #sltTaxObl, #txtPassNum, #sltPassCounIss, #txtTaxNumber, #txtTaxNumber1, #sltTaxJur, #txtGIIN, #txtTaxNum {
    width: 80%;
}

#txtAddntlPassNum1, #txtAddntlPassNum2, #txtAddntlPassNum3, #sltAddntlPassCoun1, #sltAddntlPassCoun2, #sltAddntlPassCoun3 {
    width: 97%;
}

#txtAddntlPassDate1, #txtAddntlPassDate2, #txtAddntlPassDate3, #sltAddntlPassIsCiti1, #sltAddntlPassIsCiti2, #sltAddntlPassIsCiti3 {
    width: 97%;
}

#sltAddntlTaxCoun1, #sltAddntlTaxCoun2, #sltAddntlTaxCoun3, #txtAddntlTaxRef1, #txtAddntlTaxRef2, #txtAddntlTaxRef3 {
    width: 95%;
}

#sltAddntlTaxJur1, #sltAddntlTaxJur2,  #sltAddntlTaxJur3, #txtAddntlGIIN1, #txtAddntlGIIN2, #txtAddntlGIIN3 {
    width: 95%;
}

#txtTaxComments {
    width: 65%;
}

#txtTaxComments1 {
    width: 98%;
}

.addnlTD1 {
    width: 20%;
}

.addnlTD2 {
    width: 10%;
}

.addnlTD3 {
    width: 15%;
}

#addPassNum, #addPassExpDate {
    width: 95%;
}

.viewRates {
    border: 1px solid #ccc;
    padding-top: 4px;
}

.viewLiquidFixedRatesColumns {
    width: 25%;
}

.viewLiquidFixedRatesPeriod {
    width: 100px;
}

#addntlCitiPopup, #addntlPassportPopup, #addntlTaxPopup { 
    display: none; 
}

.table td select.benAuthReallocate {
    width: 95%;
}

.disclaimer {
    width: 100%;
    height: 50px;
}

.print-view .bottomDiv {
     bottom: 5px;
     position: fixed;
     width: 100%;
 }

 .bottomDiv hr {
    height: 1px;
    background-color: black;
    margin-top: 1%;
 }

.print-view .grntSubClause {
    width: 2%;
}

.hide {
    display : none;
}

.infoIcon {
    width: 8%;
}

.auditInfoIcon {
    width: 6%;
}

.additionalFieldsInfoIcon {
    width: 6%;
    margin-bottom: 2%;
}

dt.fourcolumn.bigQuestion {
    width: 67%;
}

ul.indentedBulletList{
    list-style: disc;
    padding-left: 2%;
}

#indvNonResidentHolder>dd>select{
    width: 9%;
}

#GIIN_dt{
    margin-right: 12px;
}

#sltCountryReg{
    margin-left: 2px;
}

.hasDatepicker {
    background: #f1f1f1 url(../image/event_black_24dp_1x.png) no-repeat 98% 50%;
}

.groupError, .duplicateError, .relatedPartyError {
     color: #B94A48;
     list-style: none;
     padding: 0;
     margin-left: 3%;
 }

.duplicateError.validationError {
    padding-bottom: 10px;
}

.colHolder{
    width: 100%;
}

.twoColLeft {
    float: left;
    width: 20%;
}

.twoColRight {
    float: right;
    width: 70%;
    text-align: left;
}

.relatedPartyError > input[type="button"] {
    margin-left: 1%;
    background: #437cc4;
    padding: 0 1% 0 1%;
}

.ui-accordion .ui-state-default {
    width: inherit;
    padding-bottom: 5px;
    padding-top: 5px;
}

.ui-accordion .ui-widget-content {
    width: inherit;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    top: 45%;
}

#main_container {
    margin: 0px;
}