.modalWindow {
    position: fixed;
    font-family: arial;
    font-size: 80%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalHeader h2 {
    color: #476e96;
    border-bottom: 2px groove #7291ac;
    font-size: small;
}

.modalWindow:target {
    opacity: 1;
    pointer-events: auto;
}

.modalWindow > div {
    width: 60%;
    position: relative;
    margin: 10% auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
}

.modalWindow .modalHeader {
    padding: 10px 20px 10px 20px;
}

.modalWindow .modalContent {
    padding: 0px 20px 5px 20px;
}

.modalWindow .modalFooter {
    padding: 8px 20px 8px 20px;
}

.modalFooter {
    height: 40px;
}

.modalFooter .modelButtonFlow {
    float: right;
}

.close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 22px;
    height: 22px;
    font-size: 15px;

}

.clear {
    float: none;
    clear: both;
}

#modalWindowTable {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#modalWindowTable tr {
    display: flex;
}

#modalWindowTable td, #modalWindowTable th {
    border: 1px solid #bdbdbd;
    padding: 15px 0px 0px 0px;
    text-align: center;
}

#modalWindowTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#modalWindowTable tr:hover {
    background-color: #ddd;
}

#modalWindowTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #7291ac;
    color: white;
}

#modalWindowTable tbody {
    display: block;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: small;
    color: #7291ac;
}

#modalWindowTable thead {
    display: block;
    height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    /*width: 100%;*/
    font-size: large;
}

#modalWindowTable thead th {
    flex: 1 auto;
    display: block;
}

#modalWindowTable tbody td {
    flex: 1 auto;
    display: block;
}
