.tabButton_Level1{
	height: 36px;
	float: left;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance:none;
	width: 112px;
	border: none;
	cursor: pointer;
}

.tabButton_Level1:hover{
	background: #8fb5d7;
	color: #ffffff;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a .tabButton_Level1{
	background: #476e96;
	color: #ffffff;
}

.tabButton_Level2{
	height: 32px;
	width: 100px;
	float: left;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance:none;
	width: 112px;
	border: none;
	cursor: pointer;
}

.tabButton_Level2:hover{
	background: #8fb5d7;
	color: #ffffff;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a .tabButton_Level2{
	background: #ffffff;
	color: #000000;
}

tr.even td.sorting_1 {
	background-color: #ffffff;
}

tr.even td {
	background-color: #ffffff;
}

.tablerowcolor td {
    background: #fff;
}

body {
    color: #000000;
    font: 12px/14px Arial, Helvetica;
    font-weight: 400;
}

input{
	line-height: 25px;
	height: 32px;
	border-radius: 3px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-indent: 14px;
	background: #f1f1f1;
	border: 1px solid #b7b7b7;
}

input[type="radio"]{
	height: 16px;
	width: 16px;
	background: #ffffff;
	border: none;
}

.input_old {
    height:30px;
    background: #f1f1f1;
    border-color: 1px solid #b7b7b7;
    
}

select {
	height: 30px;
	background: #ebecee url(../image/arrow_down.png) right no-repeat;
    background-size: 10px 10px;
    background-position: right 10px top 50%;
    padding-left: 10px;
	padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
	font: 12px Arial;
	font-weight: 100;
	border: 1px solid #b7b7b7;
	border-radius: 4px;
	cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
	margin-right:5px;
	margin-top: 0px;
	margin-bottom: 5px;
	line-height: 15px;
}

select:active {
    background: #ebecee url(../image/arrow_up.png) right no-repeat;
    background-position: right 10px top 50%;
}

.searchInput{
	background:	background: #ebecee url(../image/arrow_down.png) right no-repeat;
}

/*select box from before reskin 2014*/
.select_old {
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    height: 25px;
    background: #fff;
    border: 1px solid #ccc;
    padding-left: 5px;
    margin: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

option {
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    width: auto;
    overflow: auto;
    background: #ebecee;
    padding-left:5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    height: 30px;
    border: none;
}

select.day_yearSelect {
    min-width: 50px;
}

select.monthSelect {
    min-width: 50px;
}

/* This class is used for copy beneficiaries screen - Admin*/
.select-list {
    height: auto;
    width: auto;
    min-width: 250px;
    min-height: 100px;
}

img {
    border: 0px;
}

img.adobe {
    height: 30px;
    width: 120px;
    padding-left: 5px;
    padding-right: 5px;
}

a:link {
    color: #437cc4;
    text-decoration: none;
}

a:hover {
    color: #437cc4;
    text-decoration: underline;
}

a:active {
    color: #437cc4;
    text-decoration: none;
}

span.underlineblue, a.underlineblue {
    color: #0066cc;
    text-decoration: underline;
    cursor: pointer;
}

/* Help File body style */
.content {
    font-family: Arial;
    font-size: 12px;
    text-align: justify;
    color: #000000;
    clear: both;
}

/* Help File Header style */
.tableheader {
    font-family: Arial;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 12px;
}

.pageContent {
    font-family: Arial;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 12px;
    align: left;
}

.numericContent {
    font-family: Arial;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 11px;
    align: right;
}

.pageNote {
    font-family: Arial;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 10px;
    align: left;
}

.tableHeading {
    font-family: Arial;
    background-color: #FFFFFF;
    color: #0066cc;
    font-size: 10px;
    align: center;
}

.paragraphContent {
    font-family: Arial;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 11px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
}

UL, OL {
    font-family: Arial;
    background-color: #FFFFFF;
    color: #000000;
    align: left;
}



.main_header {
    /*width: 975px;*/
    margin: 0 auto;
    overflow: hidden;
    height: 80px;
    display: inline;
}

.main_left {
    width: 100px;
    margin: 0 auto;
    margin-top: -36px;
    display: block;
}

.main_content {
    display: block;
    padding-left: 5px;
    padding-top: 5px;
    min-height: 285px;
    width: 795px;
}

.main_container {
    padding-bottom: 30px;
    display: block;
    width: 835px;
    overflow: hidden;
    float: right;
}

.main_menu {
    width: 155px;
    margin: 0 auto;
    display: none;
    float: left;
}

.hidden_content {
    display: none;
    visibility: hidden;
}

#header h1 {
    margin: 0;
}

#header h1 a {
    display: block;
    clear: both;
}

.header_lock {
    vertical-align: bottom;
    margin-top: 8px;
    margin-right: 0px;
}

header {
    margin-bottom: 0px;
    font-size: 11px;
}

header .left {

    float: left;
    padding-top: 0px;
}

header .right {
    padding-top: 10px;
}

header .right_search {
    height: 20px;
    width: 308px;
    float: right;
    padding-top: 5px;
}

header .right_session {
    height: 20px;
    float: right;
    padding-top: 15px;
    color: #666;
}

header .logout {
    float: right;
	display: inline-block;
	padding: 7px;
	border-radius: 4px;
	/*margin-top: 9px;*/
}

header .session_info {
    text-align: right;
    font-size: 10px;
    /*color: #437CC4;*/
    padding: 3px 4px 4px 2px;
    margin-top: 5px;
    float: right;
    height: 25px;
    clear: both;
    align: right;
    display : inline;
}

header .menu_item_text {
    padding-left: 8px;
}

.right_menu ul {
    list-style: none;
    font-size: 11px;
    line-height: 16px;
    float: right;
    text-align: right;
    width: 270px;
    padding: 0;
    margin: 0;
}

.right_menu ul li {
    display: inline;
    margin: 2px 10px 4px 15px;
}

.right_menu ul a {
    color: #437CC4;
    padding: 0 12px 0 0;
    text-decoration: none;
}

.right_menu ul a:hover {
    text-decoration: underline;
}

.right_menu ul a:visited {
    color: #437CC4;
}

.footer_container {
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.footer_container .logo {
    margin-top: -75px;
    margin-left: 30px;
    z-index: 4;
    position: absolute;
}

.footer_container .spacer {
    height: 70px;
}

.footer_container a:hover {
    color: #437CC4;
    text-decoration: underline;
}

.footer_container a {
    font-size: 12px;
}

.footer_container a:visited {
    color: #437CC4;
    text-decoration: none;
}

.footer_container .content {
    display: inline-block;
    color: #787878;
    font-size: 11px;
    line-height: 13px;
    text-align: left;
    padding: 2px 0px 2px 0px;
    clear: right;
}

.footer_container .content ul {
    margin-left: -5px;
    margin-top: 10px;
    overflow: hidden;
    text-align: left;
    width: 100%;
}

.footer_container .content li {
    background: no-repeat scroll 0 2px transparent;
    display: inline;
    padding: 0 0 0 7px;
}

a.logout_button {
    height: 30px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #476e96 url(../image/arrow_right_white.png) no-repeat;
    background-size: 10px 10px;
    background-position: 90% 50%;
    font: 14px Arial;
    color: #ffffff;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.hide_button {
    padding-left: 10px;
    padding-bottom: 5px;
    color: #437CC4;
}

.blue_bar {
    height: 36px;
    background-color: #476E96;
    text-align: center;
    border-right: 2px solid #476E96;
    margin-left: 0;
    margin-right: 0;
}

.body_container {
    display: block;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 10px;
}

.main_body {
    min-height: 350px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    clear:right;
}

.pageTitle {
	color: #424242;
	font-size: 2em;
    margin: 0 0 20px 0;
	font-weight: 100;
	padding-left: 10px;
}

.section {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*border-bottom: 1px solid #cccccc;*/
    overflow: auto;
    padding: 0px 10px 10px 10px;
    font-size: 13px;
    clear: both;
}

div .section:last-child {
    border:0px
}

.subSection {
    overflow: auto;
    font-size: 12px;
    padding-top: 0px;

}

.page {
    font-size: 12px;
    padding-top: 10px;
}

.body {
    padding: 5px 0px 2px 0px;
    font-size: 12px;
    font-weight: normal;
    font-family: arial;
    overflow: auto;
    display: block;
    clear: both
}

.body a:visited
{
    color:#437cc4;;
}

.body a:link
{
    color:#437cc4;
}

.instruction {
    padding: 5px 0px 5px 5px;
    font-size: 12px;
    font-weight: normal;
    font-family: arial;
    vertical-align: middle;
    background-color: #F1F1F1;
    width: auto;
    clear: both;
    border-top:2px solid white;
    border-bottom:2px solid white;
    line-height: 15px;
}

.notes {
    padding: 5px 0px 5px 0px;
    font-size: 11px;
    font-weight: normal;
    clear: both;
}



.title {
    padding: 2px 0px 2px 0px;
    font-weight: bold;
    font-family: arial;
    clear: both;
    color: #000000;
}

dl {
    padding: 0;
    width: 100%;
    padding-bottom: 0px;
}


dt {
    margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
    vertical-align: middle;    
}

dt:first {
	margin-top: 0px;
}


dd {
    margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
    vertical-align: middle;
    padding: 0px;
}

dd p {
    vertical-align: middle;
    line-height: 30px;
    -webkit-margin-before:0;
    margin-top: 0px;
   /* margin-bottom: 5px;*/
   font-size: 12px;
}

dt label {
    vertical-align: middle;
    line-height: 30px;
    margin-right: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
}

dt input {
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

dd input[type="checkbox"]  {
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
    height:16px;	
    width: 16px;
    background-color: #ececec;
	border: solid 1px #b7b7b7;
	
	border-top-color: #fff;
	border-bottom-color: #fff;
	border-left-color: #fff;
	border-right-color: #fff;
	
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	-ms-appearance: none;
	
	background-color: rgb(255, 255, 255);
}

#notice-type input[type="checkbox"]  {
    margin-top: 0;
}

dt.twocolumn {
    clear: left;
    float: left;
    width: auto;
    display: block;
   	min-width: 300px;
   	min-height: 30px;
}

dd.twocolumn {
    display: block;
    overflow: visible;
}

dd.twocolumn p {
	margin-bottom: 5px;
}

dt.threecolumn {
    clear: left;
    float: left;
    width: 30%;
}

dd.threecolumn {
    float: left;
    width: 30%;
}

dl.twocolumndynamic {
    width:98%;
}
dt.twocolumndynamic {
    clear: left;
    float: left;
    width: 48%;
}

dd.twocolumndynamic {
    float: left;
    width: 48%;
}

dt.fourcolumn {
    display: inline-block;
    /*width: 24%;*/
    width: 12%;
}

dd.fourcolumn {
    display: inline-block;
    /*width: 24%;*/
    width: 32%;
}

dd.addfourcolumn {
    display: inline-block;
    /*width: 24%;*/
    width: 32%;
}

dd.fourcolumn input[type="text"] {
    width: 95%;
}

dd.fourcolumn .fixed-select {
    width: 95%;
}

.popupsection {
    border-bottom: none;
}

.smallpopup {
    border-bottom: none;
    width: 300px;
    color: #000000;
}

.smallpopup dl.threecolumn {
    width: 290px;
    margin: 0;
}

.smallpopup dt.threecolumn {
    display: inline-block;
    width: 22%;
}

.smallpopup dd.threecolumn {
    display: inline-block;
    width: 55%;
    float: left;
}

.smallpopup dd.checkbox {
	margin-top: 0px;
    display: inline-block;
    width: 10%;
    float: left;
    margin-left: 5px;
}

.AdhocNotifyBeneficiaryName {
    display: inline-block;
    width: 140px;
    line-height: 30px;
	padding-top: 0px;
}

dd.checkbox .notifyBeneficiary {
    margin-top: 6px;
    margin-bottom: 6px;
    width: 16px;
	height: 16px;
	margin-top: 6px;
	margin-left: 30px;
}

dd.checkbox .notifyMe {
	display: block;
	margin-bottom: 7px;
	width: 16px;
	height: 16px;
	margin-top: 7px;
	margin-left: 30px
}

input[type="text"].popupTextBox {
    width: 100%;
}

.largepopup {
    border-bottom: none;
    width: 580px;
}

.largepopup dl.twocolumn {
    width: 495px;
    margin: 0;
    display: table-row;
}

.largepopup dt.twocolumn {
    display: inline-block;
    width: 220px;
	min-width: 220px;
}

.largepopup dd.twocolumn {
    display: inline-block;
    width: 290px;
    float: none;
    height: 30px;
}

input[type="text"].largepopupTextBox {
    width: 96%;
    margin-bottom:5px;
}

select.largepopupSelect {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 280px;
    font-weight: normal;
    font-family: arial;
    margin-bottom:5px;
}

.mediumpopup {
    border-bottom: none;
    width: 390px;
}

.mediumpopup dl.twocolumn {
    width: 370px;
    margin: 0px;
}

.mediumpopup dt.twocolumn {
    display: inline-block;
    width: 30%;
    min-width: 50px;
    height: 30px;
	line-height: 30px;
}

.mediumpopup dd.twocolumn {
    display: inline-block;
    width: 50%;
    float: none;
}

.mediumpopup dd.twocolumn input, .mediumpopup dd.twocolumn select {
	width: 100%;
}


input[type="text"].mediumpopupTextBox {
    width: 260px;
}

select.mediumpopupSelect {
    height: 30px;
	background: #ebecee url(../image/arrow_down.png) right no-repeat;
	background-size: 10px 10px;
	background-position: right 10px top 50%;
	padding-left: 10px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	font: 12px Arial;
	font-weight: 100;
	border: 1px solid #b7b7b7;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 5px;
	line-height: 15px;
}

.table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: auto;
    clear: both;
    width: auto;
    margin-bottom: 8px;
    border-left: 0px;
}

.tableTitle {
	height: 30px;
    background-size: 100%;
    clear: both;
    vertical-align: middle;
    padding-left: 10px;
    line-height: 31px;
    border-bottom: 1px solid #ccc;;
    background: #f7f7f7; /* Old browsers */
    font-weight: bold;
    font-size: 13px;
    border-left: 1px solid #ccc;
}

.table table {
    display: inline-table;
    clear: both;
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    overflow: auto;
}

.table th {
	height: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
    padding-right: 5px;
	padding-left: 5px;
    background: rgb(241, 241, 241);
    font-size: 13px;
    font-family: Arial;
    color: #000000;
    border-left:1px solid #ccc;
    border-top:1px solid #ececec;
    text-align: left;
}

.table tr {
    padding: 5px;
}

tr:hover td{
	background: #dcebf1; 
	/* background: #ececec; */
}

.tablerowcoloralt td {
    background: #fff;
}

.table td {
	height: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    border-left:1px solid #ccc;
    border-top:1px solid #ececec;
    font-family: Arial;
    color: #000000;
}

td.financial {
    text-align: right;
    width: 110px;
    padding-left: 0px;
    white-space: nowrap;
    min-width: 100px;
}

td.financialCellBackColor {
    text-align: right;
    padding-right: 6px;
    bgcolor: #f1f2dc;
    white-space: nowrap;
}

td.financialRed {
    text-align: right;
    padding-right: 6px;
    color: #CC0000
}

p.financial {
    text-align: right;
}

td input[type="text"] {
    width: 85%;
    height: 30px;
    font-size: 12px;
    text-indent: 2px;
}

.table_footer {
    display: block;
    height: 32px;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    background: #ececec;
}

.table_footer a {
    position: relative;
    z-index: 99999;
}

.pagination {
    text-align: right;
    float: right;
    line-height: 32px;
    vertical-align: middle;
    padding-right: 10px
}

input[type="text"] {
    line-height: 25px;
    height: 30px;
    border-radius: 3px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: 14px;
    padding: 0px;
    margin-bottom: 5px;
}

/*     height: 20px;
    .height: 19px;
    padding: 2px 0px 2px 5px;
    .padding: 5px 0px 0px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
 }*/


input[type="text"].smallTextBox {
    width: 150px;
}

input[type="text"].amountTextBox {
    width: 100px;
}

input[type="text"].percentageTextBox {
    width: 50px;
}

.red {
    color: #DE4561;
    font-style: normal;
}

.blue {
    color: #437cc4;
    font-style: normal;
}

.boldRed {
    font-weight: bold;
    color: #CC0000;
}

.boldBlue {
    font-weight: bold;
    color: #0066cc;
}

.menu {
    /*color :  #476E96;*/
}

#menu .menu_flyout_ul
{
    width:200px;
    border:solid 1px #b7b7b7;
    border-radius:4px;
}

input[type=submit] {
    height: 30px;
    width: 135px;
	border-radius: 5px;
	padding-left: 10px;
    background: #437cc4 url('data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAABlBMVEWZmZn///+D7jMZAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfeARYIFyCcDAPqAAAAHklEQVQI12MQYGCQYGCQYWCQY2CQByM5MBcoKMAAAA+9AQOxUYH3AAAAAElFTkSuQmCC') no-repeat;
    background-size: 10px 10px;
    background-position: 90% 50%;
    font: 14px Arial;
    color: #ffffff;
    position: relative;
    cursor: pointer;
    border: none;
	display: inline-block;
	text-align: left;
	text-indent: 0px
}

input[type=submit]:disabled {
    height: 30px;
	border-radius: 5px;
	padding-left: 10px;
    background: #7C7C87
url('data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAABlBMVEWZmZn///+D7jMZAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfeARYIFyCcDAPqAAAAHklEQVQI12MQYGCQYGCQYWCQY2CQByM5MBcoKMAAAA+9AQOxUYH3AAAAAElFTkSuQmCC') no-repeat;
    background-size: 10px 10px;
    background-position: 90% 50%;
    font: 14px Arial;
    color: #ffffff;
    position: relative;
    cursor: pointer;
    border: none;
    display: inline-block;
}

/*  For IE8 */
input[type=submit][disabled] {
    height: 30px;
	border-radius: 5px;
	padding-left: 10px;
    background: #7C7C87
url('data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAABlBMVEWZmZn///+D7jMZAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfeARYIFyCcDAPqAAAAHklEQVQI12MQYGCQYGCQYWCQY2CQByM5MBcoKMAAAA+9AQOxUYH3AAAAAElFTkSuQmCC') no-repeat;
    background-size: 10px 10px;
    background-position: 90% 50%;
    font: 14px Arial;
    color: #ffffff;
    position: relative;
    cursor: pointer;
    border: none;
    display: inline-block;
}

input[type=button], div[name="Continue"], div[name="Logoff"], input[name="SendConsultantAsSMS"],input[value="Continue"], input[value="Account Confirmation"] {
    height: 30px;
    width: auto;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 45px;
    background: #437cc4 url(../image/arrow_right_white.png) no-repeat;
    background-size: 10px 10px;
    background-position: 90% 50%;
    font: 14px Arial;
    color: #ffffff;
    position: relative;
    cursor: pointer;
    border: none;
	display: inline-block;
	text-align: left;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-indent: 0px
}

/* .largeButton {
	height: 30px;
    width: auto;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 45px;
    background: #437cc4 url(../image/arrow_right_white.png) no-repeat;
    background-size: 10px 10px;
    background-position: 90% 50%;
    font: 14px Arial;
    color: #ffffff;
    position: relative;
    cursor: pointer;
    border: none;
	display: inline-block;
	text-align: left;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-indent: 0px
} */

div[name="Continue"], div[name="Logoff"] {
	line-height: 30px;
}

input[type=button]:disabled {
    height: 30px;
	border-radius: 5px;
	padding-left: 10px;
	/*padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;*/
    background: #7C7C87
url('data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAABlBMVEWZmZn///+D7jMZAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfeARYIFyCcDAPqAAAAHklEQVQI12MQYGCQYGCQYWCQY2CQByM5MBcoKMAAAA+9AQOxUYH3AAAAAElFTkSuQmCC') no-repeat;
    background-size: 10px 10px;
    background-position: 90% 50%;
    font: 14px Arial;
    color: #ffffff;
    position: relative;
    cursor: pointer;
    border: none;
    display: inline-block;
}

/*  For IE8 */
input[type=button][disabled] {
    height: 30px;
	border-radius: 5px;
	padding-left: 10px;
    background: #7C7C87
url('data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAABlBMVEWZmZn///+D7jMZAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfeARYIFyCcDAPqAAAAHklEQVQI12MQYGCQYGCQYWCQY2CQByM5MBcoKMAAAA+9AQOxUYH3AAAAAElFTkSuQmCC') no-repeat;
    background-size: 10px 10px;
    background-position: 90% 50%;
    font: 14px Arial;
    color: #ffffff;
    position: relative;
    cursor: pointer;
    border: none;
    display: inline-block;
}


.buttons {
    display: block;
    clear: both;
    padding-top: 10px;
    padding-bottom: 20px;
}

.buttons .left {
    float: left;
}

.buttons .right {
    float: right;
}

.buttons .centre {
	display:inline;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}

.boundary {
    padding-bottom: 0px;
}

.halfwidth{
    width:49%;
    display:inline-block;
    vertical-align: top;
}

#datetext {
    width: 30px;
	height: 28px;
	vertical-align: top;
	text-align: center;
	text-indent: 0px;
	padding: 0px;
}

.tabs{
    display: block;
    height:85px;
}

.notifyImg {
	background: url(../image/notifyme_20.png) center no-repeat;
	margin-bottom: -14px;
    display:inline-block;
    float:left;
    height:20px;
    width:20px;
    margin-top: 5px; 
}

.notifyDiv {
    display:inline-block;
    line-height:30px;
    vertical-align:middle;
    padding-left:3px;
    margin-top: 0px;
}

input[type="text"]:focus {
    outline: 1px solid #437cc4;
}

textarea:focus {
    outline: 1px solid #437cc4;
}

select:focus {
    outline: 1px solid #437cc4;
}

input[type="text"].financial {
    text-align: right;
    padding-right: 5px;
}

textarea {
    font-family: Arial;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    margin-left: 0;
}

.profileSwitcherSelect {
    height: 30px;
	background: #ebecee url(../image/arrow_down.png) right no-repeat;
    background-size: 10px 10px;
    background-position: right 10px top 50%;
    padding-left: 10px;
	padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
	font: 12px Arial;
	font-weight: 100;
	border: 1px solid #b7b7b7;
	border-radius: 4px;
	cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
	margin-right:5px;
	/*margin-top: 9px;*/
	margin-bottom: 5px;
}

.profileBlock {
    float:right;
    margin-top:-5px;
}

.profileBlock table tbody tr:hover td{
	background: #fff;
}

.profileBlock p {
    line-height: 36px;
    vertical-align: center;
    color: #437cc4;
    font-size: 12px;
    padding-left: 3px;

}

.profileBlock label {
    line-height: 18px;
    vertical-align: middle;
    color: #437cc4;
    font-size: 11px;
    padding-left: 10px;
}

.onlineServices{
    display:block;
    height: 40px;
	margin-left: 40px;
}

.onlineServices span{
    float:left;
    color:#437cc4;
    font-size:13px;
    font-weight:bold;
    float:left;
    padding-left:10px;
    padding-right: 20px;
    margin-right: 30px;
    list-style:none;
    background: url("./../image/arrow_right_black.png") no-repeat scroll 100% transparent
}

.onlineServices a:visited
{
    color:#437cc4;;
}

.topOfHeader{
	width: 100%;
    clear:right;
    display:block;
    height:40px;
    padding-left: 50px;
    float: right;
}

td.tdcenter {
    text-align: center;
}

.tablenostyle {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: auto;
    clear: both;
    width: 60%;
}

.tablenostyle tr {
    padding: 5px;
    border: 3px solid #fff;
}

.tablenostyle td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 3px;
    vertical-align: middle;
    border: 3px solid #fff;
    font-family: Arial;
    color: #000000;
}

.tablenostyle thead th {
    padding: 8px;
    color: #000000;
    background: rgb(241, 241, 241);
    font-size: 11px;
    font-weight: normal;
    border: 1px solid #fff;
    text-align: left;
}

.tablenostyle th {
    padding: 8px;
    background: rgb(241, 241, 241);
    font-size: 10px;
    font-family: Arial;
    color: #000000;
    border: 3px solid #fff;
    text-align: left;
}

.noStyle{
    padding-bottom: 5px;
}

ul.solidbullets {
    list-style-type:solidcircle;
}

.salaryupload_file_input_textbox {
    height:25px;
    width:200px;
    float:left;
}

.salaryupload_file_input_div  {
    float:left;
    position: relative;
    width:135px;
    height:38px;
    overflow: hidden;
    padding:0px 0px 0px 10px;
}


.salaryupload_file_input_hidden  {
    position: absolute;
    opacity:1;
    filter:alpha(opacity=1);
    -ms-filter:"alpha(opacity=1)";
    -khtml-opacity:1;
    -moz-opacity:1;
    width: 70px;
    height:25px;
    padding-top:3px;
    border: 1px solid red;
}

.salaryupload_file_input_hidden_div  {
    position: absolute;
    opacity:0;
    filter:alpha(opacity=0);
    -ms-filter:"alpha(opacity=0)";
    -khtml-opacity:0;
    -moz-opacity:0;
    width: 70px;
    height:25px;
    padding:0px;
    border: 1px solid blue;
}

.salaryupload_browse_button {
    font-weight: normal;
	font-size: 8pt;
	/* background-color: rgb(98, 135, 173); */
	color: #fff;
	height: 23px;
	width: 96px;
	border: 0px;
	margin-bottom: 10px;
	background: #437cc4 url(../image/arrow_right_white.png) right no-repeat;
	background-position: 90% 50%;
	cursor: pointer;
	position: absolute;
	display: inline-block;
	margin-top: 5px;
	text-align: left;
	padding: 2px 0px 0px 5px;
	border-radius: 4px;
	font: 14px Arial;
	margin-top: 10px;
	padding-top: 5px;
}

.salaryupload_browse_button_hover {
    font-weight: normal;
	font-size: 8pt;
	/* background-color: rgb(98, 135, 173); */
	color: #fff;
	height: 23px;
	width: 96px;
	border: 0px;
	margin-bottom: 10px;
	background: #437cc4 url(../image/arrow_right_white.png) right no-repeat;
	background-position: 90% 50%;
	cursor: pointer;
	position: absolute;
	display: inline-block;
	margin-top: 5px;
	text-align: left;
	padding: 2px 0px 0px 5px;
	border-radius: 4px;
	font: 14px Arial;
	margin-top: 10px;
	padding-top: 5px;
}

.bulkupload_file_input_textbox {
    height:25px;
    width:200px;
    float:left;
}

.bulkupload_file_input_div  {
    float:left;
    position: relative;
    width:135px;
    height:38px;
    overflow: hidden;
    padding:0px 0px 0px 10px;
}


.bulkupload_file_input_hidden  {
    position: absolute;
    opacity:1;
    filter:alpha(opacity=1);
    -ms-filter:"alpha(opacity=1)";
    -khtml-opacity:1;
    -moz-opacity:1;
    width: 100px;
    height:25px;
    padding-top:3px;
    border: 1px solid red;
}

.bulkupload_file_input_hidden_div  {
    position: absolute;
    opacity:0;
    filter:alpha(opacity=0);
    -ms-filter:"alpha(opacity=0)";
    -khtml-opacity:0;
    -moz-opacity:0;
    width: 70px;
    height:25px;
    padding:0px;
    border: 1px solid blue;
}

.bulkupload_browse_button {
    font-weight: normal;
	font-size: 8pt;
	color: #fff;
	height: 23px;
	width: 70px;
	border: 0px;
	background: #437cc4 url(../image/arrow_right_white.png) right no-repeat;
	background-position: 90% 50%;
	cursor: pointer;
	position: absolute;
	display: inline-block;
	text-align: left;
    padding-top: 9px;
    padding-left: 10px;
    padding-right: 30px;
	border-radius: 4px;
	font: 14px Arial;
    margin-top: 0px;
    margin-bottom: 5px;
}

.bulkupload_browse_button_hover {
    font-weight: normal;
	font-size: 8pt;
	color: #fff;
	height: 23px;
	width: 70px;
	border: 0px;
	background: #437cc4 url(../image/arrow_right_white.png) right no-repeat;
	background-position: 90% 50%;
	cursor: pointer;
	position: absolute;
	display: inline-block;
	text-align: left;
    padding-top: 9px;
    padding-left: 10px;
    padding-right: 30px;
	border-radius: 4px;
	font: 14px Arial;
    margin-top: 0px;
    margin-bottom: 5px;
}

td.bulkupload_warning {
    text-align: left;
    padding-right: 6px;
    color: #CC0000;
    white-space: nowrap;
}

.rightalignvalue {
    display:inline-block;
}

.datecontrolsinglerow {
    width: 130%;
}

.horizontalline {
    background-color: black;
    border: 1px;
    width: 100%;
    height: 2px;
}
.border_style{
    border: 1px solid #cccccc;
    border-bottom: 0px;
    padding-left: 3px;
}
.border_style_closing{
    border-top: 1px solid #cccccc;
}

.gridParagraphPadding{
    padding-left: 3px;
    clear: left;
    display: inline-block;
}

p.NoteTextBox input[type="text"] {
    width: 260%;
}

p.table_padding{
    padding-left: 8px;
    text-align: left;

}

@media print {
    .body {
        color: black;
        font-size: 11px;
    }
    .main_header {display: none;}
    .tabs {display: none;}
    .RHM {display: none;}
    .footer_container {display: none;}
    .blue_bar {display: none;}
    .menu {display: none;}
    input[type="button"] {
        display: none;
    }
    .table table {
        display: block;
        overflow: hidden;
    }
    table.inline{
        display: inline-table;
        overflow: hidden;
    }
    .table th {
        border: 1px solid #cccccc;
    }
    .table tr {
        border: 1px solid #cccccc;
    }
    .table td {
        border: 1px solid #cccccc;
        color: #000000;
    }
    .noPrint {
    	display: none;
    }
    .pageTitle {
    	display: none;
    }
}

table.progressbar_border {
    border: 1px solid grey;
    border-collapse: collapse;
}

.homePageServletTableColumn{
    /* width:27%; */
    width: auto;
}

.divRegistrationTextAlign {
    display:inline-block;
    padding-left: 5px;
    float:left;
    width: 65%;
}

input[type="checkbox"].divRegistrationCheckBox {
    display:inline-block;
    float:left;
    height:25px;
    margin: 0px;
    padding: 0px;
    background-color: #ececec;
	border: solid 1px #b7b7b7;
}

.divRegistrationText {
    display:inline-block;
    line-height:30px;
    vertical-align:middle;
    padding-left:10px;
    float: left;
}

.divRegistrationAirlineMembershipText {
    padding-left:22px;
    height:25px;
    float: left;
    margin-bottom: 15px;
}

input[type="text"].divRegistrationTextBox {
    float: left;
    margin-bottom: 3px;
}

dd input[type="radio"].divRegistrationRadioButton {
    display:inline-block;
    float:left;
    margin: 0px;
    margin-right: 10px;
    padding: 0px;
    vertical-align:middle;
    height:25px;
    background-color: #ececec;
	border: solid 1px #b7b7b7;
}

.divRegistrationRadioGroup {
    float: left;
    display: inline-block;
    vertical-align: middle;
    padding: 0px;
    line-height:25px;
    width: 186px;
    margin: 0px;
}

.pagePrint  {
    float: right;
    height: 18px;
    width: 22px;
    border: 0px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: no-repeat transparent;
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
    align: right;
}

.lineSpacing {
    margin-top: 5px;
    margin-bottom: 5px;
}

.Label-Default {
    font-weight: normal;
    font-size: 11px;
    color: #424242;
    background-color: #FFFFFF;
    text-align: left;
    line-height: 100%;
    margin: 0;
}

.boldBlack {
    font-weight: bold;
}

.footer_container .footer_legal_text {    
    color: #000000;
    font: 11px Arial,Helvetica;    
}

.tablecelltopalign {	
    padding-top: 3px;
}

.gridTable {
    width: 100%;
}

.gridTable tr {
    line-height: 25px;
}

.gridTable td:first-child {
    width: 267px;
}

.gridTable td:first-child + td {
    width: 50px;
}

.viewGridTable {
    width: 100%;
}

.viewGridTable tr {
    line-height: 25px;
}

.viewGridTable td:first-child {
    width: 267px;
}


.notifyMe{
	height: 20px;
	width: 20px;
	background: url(../image/notifyme_20.png) center no-repeat;
	margin-top: 0px;
	float: left; 
}

#straightBalanceDetail {
    display: none;
}

#straightBalance {
    vertical-align: middle;
    line-height: 38px;
}

#AdditionalLimit {
    vertical-align: middle;
    line-height: 30px;
}


dd p select, dd select {
	width: 350px;
}

.TextBoxAsLabel {
    border: none;
    background-color: #fff;
    background: transparent;
    outline: none;
}


dd p input[type="text"], dd input[type="text"] {
	width: 350px;
	margin-left: -1px;
}

.fourcolumn select {
	width: 95%;
}

#PaymentDate, #PaymentDate_Month, #PaymentDate_Year, #StartDate, #StartDate_Month, #StartDate_Year, #EndDate, #EndDate_Month, #EndDate_Year, #sltDate, #sltMonth, #sltYear, #DateofBirth, #DateofBirth_Month, #DateofBirth_Year, #FirstInstructionDate, #FirstInstructionDate_Month, #FirstInstructionDate_Year, #NoticeMaturityDate, #NoticeMaturityDate_Month, #NoticeMaturityDate_Year, #cmbEndDay, #cmbEndDay_Month, #cmbEndDay_Year, #NextInstructionDate, #NextInstructionDate_Month, #NextInstructionDate_Year, #PublicHolidayDate, #PublicHolidayDate_Month, #PublicHolidayDate_Year, #PublicHolidayDate_DayOfWeek, #MaturityDate, #MaturityDate_Month, #MaturityDate_Year, #CmbMaturityDay, #CmbMaturityDay_Month, #CmbMaturityDay_Year, #cmbStartDay, #cmbStartDay_Month, #cmbStartDay_Year, #TrancheStartDate, #TrancheStartDate_Month, #TrancheStartDate_Year, #TrancheEndDate, #TrancheEndDate_Month, #TrancheEndDate_Year, #InvestmentStartDate, #InvestmentStartDate_Month, #InvestmentStartDate_Year, #InvestmentEndDate, #InvestmentEndDate_Month, #InvestmentEndDate_Year,#ExpirationDate, #ExpirationDate_Month, #ExpirationDate_Year {
	width: auto;
	text-indent: 0.01px;
	margin-left: -1px;
	margin-top: 0px;
}

.divRegistrationRadioGroup select, .twocolumn dd input {
	width: auto;
}

.personalDetails_update {
	width: auto;
}

/* .largeButton {
    height: 30px;
    width: auto;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 45px;
    background: #437cc4 url(../image/arrow_right_white.png) no-repeat;
    background-size: 10px 10px;
    background-position: 90% 50%;
    font: 14px Arial;
    color: #ffffff;
    position: relative;
    cursor: pointer;
    border: none;
	display: inline-block;
	text-align: left;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-indent: 0px
	
} */


select[name="StartDate_Month"], select[name="StartDate_Year"], select[name="EndDate_Month"], select[name="EndDate_Year"], select[name="DisplayType"], select[name="ExpiryMonth"], select[name="ExpiryYear"], select[name="PolicyDocFromDate"], select[name="PolicyDocFromDate_Month"], select[name="PolicyDocFromDate_Year"], select[name="PolicyDocToDate"], select[name="PolicyDocToDate_Month"], select[name="PolicyDocToDate_Year"],  select[name="FromDate_Month"], select[name="FromDate_Year"], select[name="ToDate_Month"], select[name="ToDate_Year"], select[name="ExpiryDate_Month"], select[name="ExpiryDate_Year"], select[name="FromDate_Month"], select[name="FromDate_Year"], select[name="ToDate_Month"], select[name="ToDate_Year"] {
	width: auto;
}

select[name="InterestPaymentType"], select[name="AccountsToView"], select[name="ProfileID"], select[name="Account"] {
	height: 30px;
	background: #ebecee url(../image/arrow_down.png) right no-repeat;
    background-size: 10px 10px;
    background-position: right 10px top 50%;
    padding-left: 10px;
	padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
	font: 12px Arial;
	font-weight: 100;
	border: 1px solid #b7b7b7;
	border-radius: 4px;
	cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
	margin-right:5px;
	margin-top: 0px;
	margin-bottom: 5px;
	line-height: 15px;	
}

input[name="Cancel"], input[value="Cancel"] {
    height: 30px;
    width: auto;
    border-radius: 5px;
    background-color: #ececec;
	background-image: none;
    font: 14px Arial;
    color: #000000;
    position: relative;
    cursor: pointer;
    border: none;
    display: inline-block;
    text-align: left;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    text-indent: 0px;
    padding-left: 10px;
    padding-right: 10px;
    text-indent: 0px;
    border: solid 1px #b7b7b7;
}

input[value="Continue"] {
	background: #437cc4 url(../image/arrow_right_white.png) no-repeat;
	color: #fff;
	background-position: 90% 50%;
	padding-right: 45px;
}

.bodyBigText {
    padding: 15px 0px 25px 0px;
    font-size: 15px;
    font-weight: bold;
    font-family: arial;
    overflow: auto;
    display: block;
    clear: both
}

p input {
	height: auto
}

#account-beneficiary-popup-body dl dt {
	margin-top: 0px;
}

.tabSecondLevel ul li a .tabButton {
	font-size: 11px;
}

input[type=text]::-ms-clear {
	display:none;
}

input[type=button]::-ms-clear {
	display:none;
}

#ownerDeclaration {
	height: auto;
}

.subGuaranteeApproval {
	margin-top: 5px;
	position: absolute;
}

td input[type="checkbox"] {
	height: auto;
}

input[type="AccountBenfName"] {
	width: 276px;
}

.subSection .halfwidth .title label b {
	font-size: 14px;
}

.noTopMargin {
	margin-top: 0px;
}

.ddPrint {
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: middle;
	padding: 0px;
}

.ddPrint p {
	vertical-align: middle;
	line-height: 30px; 
	-webkit-margin-before: 0;
}

.dtPrint {
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: middle;
}

.dtPrint label {
	vertical-align: middle;
	line-height: 30px; 
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 12px;
}

select::-ms-expand { display: none; }

dt.forexthreecolumn {
    clear: left;
    float: left;
    width: 2%;
}

dd.forexthreecolumn {
    float: left;
    width: 40%;
}

dd.forexuploadbutton {
    float: left;
    width: 10%;
}

input:focus.NoSelect {
    outline: none;
}

input[type="checkbox"].forexcheckbox  {
    margin-top: 7px;
    margin-bottom: 7px;
    border: none;
    height:16px;
    width: 16px;
    background-color: #ececec;
    border: solid 1px #b7b7b7;
}

.contactUs {
	padding-top: 20px;
}

.contactUsDD {
	width: auto;
}

.accDetailDD {
	width: 100%;
}

.accSummary_Auto {
	width: auto;
}

.accSummary_AccNum {
	width: 60px;
}

#PrimaryAccountNumber {
	min-width: 91px;
	word-wrap: break-word;
	max-width: 91px;
}

.dtTextOnly {
		
}

.dtTextOnly label {
	line-height: 30px;
}

/* #cmbStartDay, #cmbStartDay_Month, #cmbStartDay_Year, #cmbStartDay_DayOfWeek{
	padding-left: 3px;
	
}

#cmbStartDay {
	width: 45px; 
	
}

#cmbStartDay_Month {
	width: 50px; 

}

#cmbStartDay_Year {
	width: 60px;
	
} */

.logoutTable {
	
}

.logoutTable tr:hover td{
	background: #fff; 
}

table tbody:empty {
	display: none;	
}

form[name="f"] table tbody tr td {
	background-color: #fff;
	padding-right: 5px;
}

.noHover {
	background: #fff;
}

.noHover:hover {
	background: #fff;
}

select[name="sltPassExpDay"], select[name="sltPassExpMonth"], select[name="sltPassExpYear"] {
	margin-right: 0px;	
	margin-left: 0px;
}

.ui-dialog table tr td {
	background-color: #fff;
}

.ui-dialog table tr td:hover {
	background-color: #fff;
}

#DateofBirth_Year {
	width: 62px;
	padding-left: 2px;
	padding-right: 20px
}

#DateofBirth_Month {
	width: 55px;
	padding-left: 2px;
	padding-right: 20px
}

#DateofBirth {
	width: 50px;
	padding-left: 2px;
	padding-right: 20px
}

@-moz-document url-prefix() { 
  select {
		height: 30px;
		background: #ebecee;
	    background-size: 10px 10px;
	    background-position: right 10px top 50%;
	    padding-left: 10px;
		padding-right: 10px;
	    padding-top: 5px;
	    padding-bottom: 5px;
		font: 12px Arial;
		font-weight: 100;
		border: 1px solid #b7b7b7;
		border-radius: 4px;
		cursor: pointer;
		cursor: pointer;
	    position: relative;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    text-indent: 0.01px;
	    text-overflow: '';
	    margin-right:5px;
		margin-top: 0px;
		margin-bottom: 5px;	
  }
  
  select[name="InterestPaymentType"], select[name="AccountsToView"], select[name="ProfileID"], select[name="Account"] {
		height: 30px;
		background: #ebecee;
	    background-size: 10px 10px;
	    background-position: right 10px top 50%;
	    padding-left: 10px;
		padding-right: 30px;
	    padding-top: 5px;
	    padding-bottom: 5px;
		font: 12px Arial;
		font-weight: 100;
		border: 1px solid #b7b7b7;
		border-radius: 0px;
		cursor: pointer;
	    position: relative;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    text-indent: 0.01px;
	    text-overflow: '';
		margin-right:5px;
		margin-top: 0px;
		margin-bottom: 5px;
		line-height: 15px;	
	}
	
	.profileSwitcherSelect {
	    height: 30px;
		background: #ebecee;
	    background-size: 10px 10px;
	    background-position: right 10px top 50%;
	    padding-left: 10px;
		padding-right: 30px;
	    padding-top: 5px;
	    padding-bottom: 5px;
		font: 12px Arial;
		font-weight: 100;
		border: 1px solid #b7b7b7;
		border-radius: 0px;
		cursor: pointer;
	    position: relative;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    text-indent: 0.01px;
	    text-overflow: '';
		margin-right:5px;
		/*margin-top: 9px;*/
		margin-bottom: 5px;
	}

	.auditSearchAccountName {
        margin-left: 0;
	}


}

.subGuaranteeApproval {
	height: 30px;
    width: auto;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 45px;
    background: #437cc4 url(../image/arrow_right_white.png) no-repeat;
    background-size: 10px 10px;
    background-position: 90% 50%;
    font: 14px Arial;
    color: #ffffff;
    position: relative;
    cursor: pointer;
    border: none;
	display: inline-block;
	text-align: left;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-indent: 0px;
	line-height:30px;
}

.ccmAccountConfirmationPrintServlet{
    height: 22px;
    padding-left: 5px;
    margin: 0px;
    line-height: 22px;
}

.footerDisclaimer {
    border-top: solid 2px black;
    margin-top: 150px;
    margin-bottom: 0px;
    position: relative;
    text-align: left;
    vertical-align: bottom;
}

#FasterPay {
    margin-top: 12px;
}

#BPFasterPayment {
	margin-left: 50%;
}

.table td select.benAuthReallocate {
    width: 95%;
}

#AddAsPersonalBeneficiary {
    margin-top: 7px;
}

dd input[type="text"].fee {
    width: 100px;
}

.banner {
    padding-bottom: 20px;
}